.dataTable{


    .dataGrid{
        background-color: white;
        padding: 20px;


        .MuiDataGrid-toolbarContainer{
            flex-direction: row-reverse;
        }

        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin: 5px 0px;
        }
    }

}



//